@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.container {
  max-width: 1440px;
  margin: auto;
}

.menu {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: auto;
  padding-top: 2rem;
}

.logo {
  place-self: center left;
}

.navbar__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.navbar__link {
  text-decoration: none;
  color: #070439;
}

.section-files {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  row-gap: 10rem;
}

.fylo {
  width: 100%;
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  place-items: center;
  margin: auto;
  column-gap: 1.5rem;
  position: relative;
}
.fylo:nth-child(2) {
  place-items: start center;
  background-color: #f6f6fe;
}
.fylo:nth-child(2)::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  bottom: 100%;
  background: url(../images/bg-curve-desktop.svg) no-repeat bottom center;
  z-index: -1;
}
.fylo:nth-child(2) .fylo-components__title {
  font-size: 2rem;
}
.fylo-components {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
}
.fylo-components--pt {
  padding-top: 2rem;
}
.fylo-components__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.fylo-components__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 0;
}
.fylo-components-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}
.fylo-components__email {
  width: 50%;
  height: auto;
  padding: 1rem;
  outline: none;
  border: 1px solid #585989;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
.fylo-components__email::placeholder {
  color: #bfbfbf;
}
.fylo-components__button {
  padding: 0.9rem 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid #3065f8;
  border-radius: 3px;
  background-color: #3065f8;
  color: #f6f6fe;
  cursor: pointer;
}
.fylo-components__button:hover {
  filter: saturate(70%);
}
.fylo-components__link {
  width: max-content;
  height: auto;
  color: #3c9f8f;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  position: relative;
  padding-right: 1.5rem;
}
.fylo-components__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3c9f8f;
  top: calc(100% + 5px);
  left: 0;
}
.fylo-components__link::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/icon-arrow.svg) no-repeat right;
  top: 0;
}
.fylo-components__link:hover + .card {
  opacity: 1;
}
.fylo-components .card {
  position: absolute;
  bottom: 7rem;
  width: 280px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.3);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  transition: all 0.5s ease;
  opacity: 0;
}
.fylo-components .card__text {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #070439;
  line-height: 2;
  margin-top: 0.5rem;
}
.fylo-components .card-person {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}
.fylo-components .card-person__img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.fylo-components .card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
}
.fylo-components .card-data__name {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #070439;
  font-size: 0.9rem;
}
.fylo-components .card-data__job {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-size: 0.7rem;
}
.fylo-figure {
  place-self: center;
  width: 90%;
  height: auto;
}
.fylo-figure__img {
  width: 100%;
  height: auto;
}

.access {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  place-items: center;
  margin: auto;
  background-color: #585989;
  column-gap: 5rem;
}
.access-texts {
  width: 80%;
  height: auto;
}
.access__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  color: #f6f6fe;
}
.access__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: #f6f6fe;
}
.access-subscription {
  width: 100%;
  height: auto;
}
.access-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: auto;
  row-gap: 1rem;
}
.access__email {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #3065f8;
  outline: none;
  box-shadow: 0 0 10px rgba(56, 56, 56, 0.3);
}
.access__email::placeholder {
  color: #bfbfbf;
}
.access__button {
  padding: 0.9rem 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid #3065f8;
  border-radius: 3px;
  background-color: #3065f8;
  color: #f6f6fe;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.access__button:hover {
  filter: brightness(1.2);
}

.footer-fylo {
  width: 100%;
  height: auto;
  background-color: #070439;
}

.footer-components {
  width: 90%;
  height: 25rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "logo . . ." "contact linksOne linksTwo socials";
  row-gap: 1rem;
}
.footer-components-logo {
  width: 100%;
  height: auto;
  grid-area: logo;
  display: flex;
}
.footer-components-contact {
  width: 100%;
  height: 100%;
  grid-area: contact;
}
.footer-components-links {
  width: 100%;
  height: 100%;
  grid-area: linksOne;
}
.footer-components-links--area {
  grid-area: linksTwo;
}
.footer-components-socials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  padding-top: 1.5rem;
  box-sizing: border-box;
  column-gap: 2rem;
  grid-area: socials;
}

.footer__logo {
  width: auto;
  height: 35%;
  align-self: flex-end;
}

.footer__contact {
  color: #f6f6fe;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
.footer__contact-img {
  margin-right: 1rem;
}

.footer__link {
  list-style: none;
}
.footer__link-text {
  color: #f6f6fe;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 2;
}
.footer__link-text:hover {
  color: #3c9f8f;
  filter: brightness(1.5);
}

.footer-social {
  display: inline-block;
  width: max-content;
  height: auto;
}
.footer-social__icon {
  border: 1px solid #f6f6fe;
  border-radius: 50%;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  fill: #f6f6fe;
}
.footer-social__icon:hover {
  fill: #3c9f8f;
  border: 1px solid #3c9f8f;
  filter: brightness(1.5);
}

@media screen and (max-width: 576px) {
  .logo__img {
    width: auto;
    height: 30px;
  }

  .navbar__links {
    padding: 0;
    column-gap: 1rem;
  }
  .navbar__link {
    text-decoration: none;
    color: #070439;
    font-size: 0.9;
    display: inline-block;
    width: max-content;
  }

  .section-files {
    padding-top: 3rem;
  }

  .fylo {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    box-sizing: border-box;
    column-gap: 0;
  }
  .fylo:nth-child(1) {
    position: relative;
  }
  .fylo:nth-child(1) .fylo-components__title {
    text-align: center;
  }
  .fylo:nth-child(1) .fylo-components__paragraph {
    text-align: center;
  }
  .fylo:nth-child(2) {
    padding-top: 3rem;
  }
  .fylo:nth-child(2)::before {
    display: none;
  }
  .fylo:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 100%;
    background: url(../images/bg-curve-mobile.svg) no-repeat bottom center;
  }
  .fylo:nth-child(2) .fylo-components__title {
    font-size: 1.5rem;
  }
  .fylo:nth-child(2) .fylo-components__paragraph {
    color: #585989;
  }
  .fylo-components {
    width: 90%;
    order: 2;
  }
  .fylo-components__title {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .fylo-components__paragraph {
    font-size: 1rem;
  }
  .fylo-components-form {
    flex-direction: column;
    column-gap: 0;
    row-gap: 1rem;
  }
  .fylo-components__email {
    width: 100%;
    box-sizing: border-box;
  }
  .fylo-components__button {
    width: 100%;
  }
  .fylo-components__link {
    margin: auto;
  }
  .fylo-components .card {
    width: 80%;
    max-width: 280px;
    position: relative;
    opacity: 1;
    bottom: 0;
    margin: 3rem auto;
    text-align: initial;
  }
  .fylo-figure {
    order: 1;
    text-align: center;
  }
  .fylo-figure__img {
    width: 90%;
  }

  .access {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    text-align: center;
    column-gap: 0;
    padding: 4rem 1rem;
    margin: 0;
    box-sizing: border-box;
  }
  .access-texts {
    width: auto;
  }
  .access__title {
    font-size: 1.5rem;
  }
  .access__paragraph {
    margin: 1rem;
  }
  .access-form {
    width: auto;
    margin: auto;
    align-items: center;
    margin: auto;
  }
  .access__email {
    width: 80%;
  }
  .access__button {
    width: 80%;
  }

  .footer-components {
    width: 80%;
    padding: 5rem 0;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "logo" "contact" "linksOne" "linksTwo" "socials";
  }
  .footer-components-socials {
    justify-content: center;
  }

  .footer__links {
    padding: 0;
  }

  .footer__logo {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
