.section-files {
    @include width-height(100%, auto);
    @include d__grid(1, 1fr, auto);
    row-gap: 10rem;
}

.fylo {
    @include width-height(100%, 40rem);
    @include d__grid(2, 1fr, auto);
    place-items: center;
    margin: auto;
    column-gap: 1.5rem;
    position: relative;

    &:nth-child(2) {
        place-items: start center;
        background-color: $blue-light;

        &::before {
            @include width-height(100%, 100%);
            position: absolute;
            content: '';
            bottom: 100%;
            background: url(../images/bg-curve-desktop.svg) no-repeat bottom center;
            z-index: -1;
        }
    }

    &-components {
        @include width-height(80%, auto);
        @include d__grid (1, 100%, auto);

        &--pt {
            padding-top: 2rem;
        }

        &__title {
            font-family: $raleway;
            font-size: 2.5rem;
        }

        &__paragraph {
            font-family: $opensans;
            font-size: 1.1rem;
            line-height: 1.5;
            margin-top: 0;
        }

        &-form {
            @include width-height(100%, auto);
            @include d__flex(row, flex-start, center);
            column-gap: 1rem;
        }

        &__email {
            @include width-height(50%, auto);
            padding: 1rem;
            outline: none;
            border: 1px solid $blue-desaturated;
            border-radius: 3px;
            font-family: $opensans;
            font-size: .8rem;

            &::placeholder {
                color: $gris-light;
            }
        }

        &__button {
            padding: .9rem 4rem;
            font-family: $opensans;
            font-weight: 700;
            font-size: 1rem;
            border: 1px solid $blue-brillante;
            border-radius: 3px;
            background-color: $blue-brillante;
            color: $blue-light;
            cursor: pointer;

            &:hover {
                filter: saturate(70%);
            }
        }

        &__link {
            @include width-height(max-content, auto);
            color: $cyan;
            font-family: $opensans;
            text-decoration: none;
            position: relative;
            padding-right: 1.5rem;

            &::after {
                position: absolute;
                content: '';
                @include width-height(100%, 1px);
                background-color: $cyan;
                top: calc(100% + 5px);
                left: 0;
            }

            &::before {
                position: absolute;
                @include width-height(100%, 100%);
                content: '';
                background: url(../images/icon-arrow.svg) no-repeat right;
                top: 0;
            }

            &:hover .card {
                opacity: 1;
            }
        }

        .card{
            position: absolute;
            top: 3rem;
            @include width-height(280px, auto);
            background-color: #fff;
            box-shadow: 0 0 10px rgba(204, 204, 204, 0.3);
            padding: 1.5rem 2rem;
            border-radius: 5px;

            transition: all .5s ease;
            opacity: 0;

            &__text {
                font-size: .8rem;
                font-family: $opensans;
                font-weight: bold;
                color: $blue-dark;
                line-height: 2;
                margin-top: .5rem;
            }

            &-person {
                @include d__flex(row, flex-start ,center);
                column-gap: 1rem;

                &__img {
                    @include width-height(40px, auto);
                    border-radius: 50%;
                }
                
            }

            &-data {
                @include d__flex(column, center, flex-start);
                line-height: 1.5;

                &__name {
                    margin: 0;
                    font-family: $raleway;
                    font-weight: 700;
                    color: $blue-dark;
                    font-size: .9rem;
                }

                &__job {
                    margin: 0;
                    font-family: $opensans;
                    color: $blue-dark;
                    font-size: .7rem;
                }
            }

            
        }

    }

    &-figure {
        place-self: center;
        @include width-height(90%, auto);
        &__img {
            @include width-height (100%, auto);
        }
    }
}


.access {
    @include width-height(100%, 20rem);
    @include d__grid(2, 1fr, auto);
    place-items: center;
    margin: auto;
    background-color: $blue-desaturated;
    column-gap: 5rem;

    &-texts {
        @include width-height(80%, auto);
    }

    &__title {
        font-family: $raleway;
        font-size: 2.2rem;
        color: $blue-light;
    }

    &__paragraph {
        font-family: $opensans;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        color: $blue-light;
    }

    &-subscription {
        @include width-height(100%, auto);
    }

    &-form {
        @include d__flex(column, center, flex-start);
        @include width-height(80%, auto);
        row-gap: 1rem;
    }

    &__email {
        @include width-height(100%, auto);
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 3px;
        border: 1px solid $blue-brillante;
        outline: none;
        box-shadow: 0 0 10px rgba(56, 56, 56, 0.3);

        &::placeholder {
            color: $gris-light;
        }
    }

    &__button {
        padding: .9rem 3rem;
        font-family: $opensans;
        font-weight: 700;
        font-size: 1rem;
        border: 1px solid $blue-brillante;
        border-radius: 3px;
        background-color: $blue-brillante;
        color: $blue-light;
        cursor: pointer;

        &:hover {
            filter: saturate(70%);
        }
    }

}